
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Stylesheets -->
    <%- include('../requireViews/linksView.ejs', {}) %>

  </head>
  <body>
    <%- include('../navBarView.ejs', {}) %>
    
    <div id="confirmation">
      <h1 >Please go check your email !</h1>
    </div>

    <!-- Scripts -->
    <%- include('../requireViews/scriptsView.ejs', {}) %>
  </body>
</html>

