<!-- Material form login -->


  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Sign up</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form id="register_asMate" class="text-center" style="color: #757575;" action="#">

      
      <!-- Email -->
      <div class="md-form">
        <input type="email" name="email"  id="email" class="form-control">
        <label for="email">E-mail</label>
      </div>

      <!-- UserName -->
      <div class="md-form">
        <input type="text" name="username" id="userName" class="form-control">
        <label for="userName">UserName</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" name="password" id="password" class="form-control">
        <label for="password">Password</label>
      </div>

      

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign Up</button>

     

     
    </form>
    <!-- Form -->

  </div>


<!-- Material form login -->