<!-- Material form login -->


  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Sign up</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form id="register_asCompany" class="text-center" style="color: #757575;" action="#">

      <!-- Company name -->
      <div class="md-form">
        <input type="text" name="company_name" id="companyName"  class="form-control">
        <label for="companyName">Company Name</label>
      </div>
      
      <!-- Email -->
      <div class="md-form">
        <input type="email" name="email" id="companyEmail" class="form-control">
        <label for="companyEmail">E-mail (Company Manager)</label>
      </div>

      <!-- UserName -->
      <div class="md-form">
        <input type="text" name="username" id="companyUsername"  class="form-control">
        <label for="companyUsername">UserName (Company Manager)</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" name="password" id="companyPassword"  class="form-control">
        <label for="CompanyPassword">Password (Company Manager)</label>
      </div>

      

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign Up</button>


      
    </form>
    <!-- Form -->

  </div>


<!-- Material form login -->