<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Stylesheets -->
    <%- include('./requireViews/linksView.ejs', {}) %>

  </head>
  <body>

    <%- include('./navBarView.ejs', {}) %>
    
    <!-- landing -->
    <div id="landing" class="section">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-sm-12 allign-self-start">
              <h1>Travel Watch</h1>
          </div>
          <div class="col-sm-8 allign-self-center">
              <h3>Tracking Elements of interest </h3>
          </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-10 allign-self-center">
                <p>Clear the path for the futur, be the watch tower, use TravelWatch</p>
            </div>  
        </div>
      </div>
      
      
    </div><!-- END landing -->
    
    <!-- feature -->
    <div id="goal" class="section"> <h1>Why ?</h1></div><!-- END feature -->
    
    <!-- feature -->
    <div id="feature" class="section"><h1>How ?</h1></div><!-- END feature -->

    <!-- about -->
    <div id="about" class="section"><h1>Who ?</h1></div><!-- END about -->
    
    <!-- contact -->
    <div id="contact" class="section"><h1>Contact us</h1></div><!-- END contact -->


    <!-- Scripts -->
    <%- include('./requireViews/scriptsView.ejs', {}) %>
  </body>
</html>
