<!-- Default form login -->
<form action="#" id="log_form" class="text-center border border-light p-5">

    <p class="h4 mb-4">Admin log</p>

    <!-- Username -->
    <input name="username" class="form-control mb-4" placeholder="admin">

    <!-- Password -->
    <input type="password" name="password" class="form-control mb-4" placeholder="Password">

    

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" >Log</button>

  

</form>
<!-- Default form login -->