<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="jsoneditor" class="modal-body">
        <!-- <div id="jsoneditor" style="width: 400px; height: 400px;"></div> -->
      </div>
      <div class="modal-footer">
        <button id='validate'type='button' class='btn btn-success' data-dismiss='modal'>Validate</button>

        <button id='displayQRC-form'type='button' class='btn btn-default'>QRC</button>
        <button id='update'type='button' class='btn btn-primary' data-dismiss='modal'>Update</button>
        <button id="delete" type="button" class="btn btn-secondary" data-dismiss="modal">Delete</button>
      
      
        <!-- Material input -->
        <!-- <div class="md-form" id="qrc-form">
          <input type="text" id="url" class="form-control">
          <label for="form1">Server URL</label>
        </div>-->
      </div> 

      <!-- s -->

      
      <!-- Material auto-sizing form -->
      <form id="qrc-form">
        <!-- Grid row -->
        <div class="form-row align-items-center" >
        
          <!-- Grid column -->
          <div class="col-auto">
            <!-- Material input -->
            <label class="sr-only" for="server_url">Server URL</label>
            <div class="md-form input-group mb-3">
              <input type="text" class="form-control pl-0 rounded-0" id="server_url"
                placeholder="Server URL">
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-auto" id="generate-qrc">
            <button class="btn btn-primary mb-0">Generate</button>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="form-row align-items-center" >
          <div id="qrc"></div>
        </div>
        <!-- Grid row -->

      </form>
      <!-- Material auto-sizing form -->

    </div>
  </div>
</div>