
/* Global */
body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ececec;
}
.section{
  padding-top: 60px;
  height: 100vh;
  background-color: #ececec;
  min-height: 600px;
}




/* admin_log */
#log, #log_form{
  width: 100vw;
  height: 100vh;
  transform: scale(0.9);
  
}
#log{background: transparent}
#log_form{
  border-radius: 4%;
  background-color: snow;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 20px 0px rgba(0, 0, 0, 0.3);
}

/* admin_dashboard */
#dashboard{
  display: none;
}
#get_collection_form{
  
}
.form-row input{
  /* box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 20px 0px rgba(0, 0, 0, 0.3); */
}
.form-control{
  margin: 6px;
}

/* Rows */
#button-row{
  position: absolute;
  bottom: 10px;
}
#responce-row{
  height: 70% !important;
  /* background-color: yellow; */
}


#db-table .container{
  position: relative;
  background-color: snow;
  border-radius: 4%;
  height: 80%;
  margin-top: 2%;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 20px 0px rgba(0, 0, 0, 0.3);
}

.dataTables_wrapper{
  position: relative;
  background-color: #ffffff;
  height: 80%;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1), 0 15px 20px 0px rgba(0, 0, 0, 0.3);
}
/* .dataTables_info{
  position: absolute;
  bottom: 10px;
  float: left;
}
.dataTables_paginate, .paging_simple_numbers{
  position: absolute;
  bottom: 10px;
  right: 0px;
  float: right;
} */
#db-table .container .row{
  /* height: inherit; */
}
#get_collection_form_col{
  height: 10%;
}

#dtBasicExample_wrapper{
  height: 100%;
  width: 50%;
 
}
#table{
  /* background-color: #33b5e5; */
  overflow-x: scroll;
}
#table {
  table-layout: fixed;
  width: 100% !important;
}
#table td,
#table th{
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

#db-table #table{
  /* background-color: snow; */
}
#table tbody tr{
  cursor: pointer;
}
#add{
  border-radius: 200%;
  display: none;
  color: snow;
}
#validate{
  display: none;
}
#displayQRC-form{
  display: none;
  float: left;
}
#qrc{
  width: 20%;
  height: 20%;
}
#qrc-form{
  display: none;
  padding-left: 20px;
}
