/* COLORS */
/* #ff996a Orange */
/* #6ad0ff Blue */
/* #cb6aff Purple */
/* #ffe66a Yello */


/* Global */
body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 930px;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}


.section{
  padding-top: 2%;
  height: 100vh;
  width: 100vw;
  min-height: 600px;
  /* overflow-x: scroll; */
}

.my-container{
  background-color: rgb(50, 83, 111);
  height: 100%;
  width: 100%;
  min-width: 930px;
}
.row{
  background-color: rgb(99, 36, 36);
  height: 100%;
  width: 100%;
  margin: 0;
}

#left-list{
  background-color: #bdc3c7;
  padding: 0;
  max-height: 100vh;
}

#main-map{
  background-color: #34495e;
}
#operator-info, #entities-list{
  width: 100%;
}
#operator-info{
  height: 20%;
  background-color: #a5a9ac ;
  min-height: 180px;
  max-height: 180px;
}
#entities-list{
  height: auto;
  /* background-color: #82868a ; */
}

.custom-location-entity-icon{
  z-index: 300 !important;
}
.custom-location-home-icon{
  z-index: 301 !important;
}

/* Profile card operator */
#operator-info a{
  text-decoration: none;
}

.twPc-div {
  background: #fff none repeat scroll 0 0;
  /* border: 1px solid #e1e8ed; */
  border-radius: 6px;
  height: 200px;
  /* max-width: 340px;  */
  /* // orginal twitter width: 290px; */
}
.twPc-bg {
  background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
  background-position: 0 50%;
  background-size: 100% auto;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 4px 4px 0 0;
  height: 95px;
  width: 100%;
}
.twPc-block {
  display: block !important;
}
.twPc-button {
  margin: -35px -10px 0;
  text-align: right;
  width: 100%;
}
.twPc-avatarLink {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: -30px 5px 0 8px;
  /* max-width: 100%; */
  padding: 1px;
  vertical-align: bottom;
}
.twPc-avatarImg {
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px;
}
.twPc-divUser {
  margin: 5px 0 0;
}
.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.twPc-divName a {
  color: inherit !important;
}
#operator_status{
  color: #800000;
  /* margin-left: 20px; */
}
.twPc-divStats {
  margin-left: 11px;
  padding: 10px 0;
}
.twPc-Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}
ul.twPc-Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.twPc-ArrangeSizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
  text-decoration: none;
}
.twPc-StatValue {
  display: block;
  font-size: 10px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}


/* entities list */
#entities-list {
  height: 60%;
  overflow-y: scroll;
}
.list-group{
  overflow-x: scroll;
}
.list-group-item span{
  float: right;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, .8), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  border-radius: 50%;
}
.list-group .list-group-item {
  background-color: #dddddd;
}
#entities-list .active{
  background-color: #2ecc71;
  border-color: #2ecc71;
}


@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  37.5% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(180deg);
  }
  62.5% {
    transform: rotate(225deg);
  }
  75% {
    transform: rotate(270deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#entities-list .fa-check-circle {
  animation: anim .6s infinite;
}