<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Stylesheets -->
    <%- include('../requireViews/linksView.ejs', {}) %>
    <script type="script"></script>
  </head>
  <body>
    <%- include('../navBarView.ejs', {}) %>
    

    <div class="section">
      <h1> Overwatch </h1>
    </div>
    
    

    <!-- Scripts -->
    <%- include('../requireViews/scriptsView.ejs', {}) %>
  </body>
</html>
