<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Stylesheets -->
    <%- include('../requireViews/linksView.ejs', {}) %>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>


  </head>
  <body>
    <%- include('../navBarView.ejs', {}) %>
    
    <!-- Section 1  -->
    <div class="section">

      <!-- lef-list + map -->
      <div class="my-container">
        <div class="row">
          <!-- left-list -->
          <div class="col-3" id="left-list">
            
            <!-- Operator info -->
            <div id="operator-info">
              
   
              <!-- code start -->
              <div class="twPc-div">
                  <a class="twPc-bg twPc-block"></a>
              
                <div>
                  
                  <a title="title" href="#" class="twPc-avatarLink">
                    <img alt="title" src="/img/profile.png" class="twPc-avatarImg">
                  </a>
              
                  <div class="twPc-divUser">
                    <div class="twPc-divName">
                      <a href="#" id="operator_name">/</a>
                    </div>
                    <span>
                      <a href="#" class="twPc-StatLabel">Socket <span id="operator_status">Offline</span></a>
                    </span>
                  </div>
              
                  <div class="twPc-divStats">
                    <ul class="twPc-Arrange">
                      <li class="twPc-ArrangeSizeFit">
                        <a href="#" title="9.840 Tweet">
                          <span class="twPc-StatLabel twPc-block" >Company</span>
                          <span class="twPc-StatValue" id="company_name">/</span>
                        </a>
                      </li>
                      <li class="twPc-ArrangeSizeFit">
                        <a href="#" title="885 Following">
                          <span class="twPc-StatLabel twPc-block">C.manager</span>
                          <span class="twPc-StatValue" id="c_manager_name">/</span>
                        </a>
                      </li>
                      <li class="twPc-ArrangeSizeFit">
                        <a href="#" title="1.810 Followers">
                          <span class="twPc-StatLabel twPc-block">Post</span>
                          <span class="twPc-StatValue" id="operator_post">/</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- code end -->
   
              
              
            </div> <!-- END Operator info -->

            <!-- As a heading -->
            <nav class="navbar navbar-light blue lighten-4">
                <span class="navbar-brand">Entities Of Interest</span>
              </nav>
            <!-- Entities list -->
            <div id="entities-list">

                <ul class="list-group">
                    
                            
                  </ul>

            </div> <!-- END Entities list -->
            
          </div> <!-- END left-list -->
          
          <!-- main-map -->
          <div class="col-9" id="main-map"></div> <!-- END main-map --> 

        </div>
      </div> <!-- END lef-list + map -->

    </div> <!-- END Section 1  -->
  



    
    <!-- Section 2  -->
    <div class="section" id="s2">
     <div class="container">
       <div class="row">

        <!-- Entity info  -->
        <div class="col-4">
          <!-- Card -->
          <div class="card weather-card">

            <!-- Card content -->
            <div class="card-body pb-3">
          
              <!-- Title -->
              <h4 class="card-title font-weight-bold">Entity</h4>
              <!-- Text -->
              
              <div id="" class="d-flex justify-content-between">
                  <p>  <i id="entity_log_icon" class="fas fa-podcast grey-text fa-lg  pl-4"></i></p>
                  <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
                </div>
              <div id="entity_log_name" class="d-flex justify-content-between">
                <p class="display-1 degree">Mota-Smartphone</p>
                <i class="fas fa-sun-o fa-5x pt-3 amber-text"></i>
              </div>
              <div id="entity_stat" class="d-flex justify-content-between mb-4">
                <!-- <p>Status  <i class="fas fa-tint fa-lg text-info pr-2"></i></p> -->
                <!-- <p>Status<i class="fas fa-times-circle fa-lg grey-text pl-2"></i></p> -->
              </div>
              <!-- <div class="progress md-progress">
                <div class="progress-bar black" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <ul class="list-unstyled d-flex justify-content-between font-small text-muted mb-4">
                <li class="pl-4">8AM</li>
                <li>11AM</li>
                <li>2PM</li>
                <li>5PM</li>
                <li class="pr-4">8PM</li>
              </ul> -->
          
              <!-- <div class="collapse-content">
          
                <div class="collapse" id="collapseExample">
          
                  <table class="table table-borderless table-sm mb-0">
                    <tbody>
                      <tr>
                        <td class="font-weight-normal align-middle">Tuesday</td>
                        <td class="float-right font-weight-normal">
                          <p class="mb-1">24&deg;<span class="text-muted">/12&deg;</span></p>
                        </td>
                        <td class="float-right mr-3">
                          <i class="fas fa-sun fa-lg amber-text"></i>
                        </td>
                      </tr>
                      <tr>
                        <td class="font-weight-normal align-middle">Wednesday</td>
                        <td class="float-right font-weight-normal">
                          <p class="mb-1">19&deg;<span class="text-muted">/10&deg;</span></p>
                        </td>
                        <td class="float-right mr-3">
                          <i class="fas fa-cloud-sun-rain fa-lg text-info"></i>
                        </td>
                      </tr>
                      <tr>
                        <td class="font-weight-normal align-middle">Thursday</td>
                        <td class="float-right font-weight-normal">
                          <p class="mb-1">23&deg;<span class="text-muted">/15&deg;</span></p>
                        </td>
                        <td class="float-right mr-3">
                          <i class="fas fa-sun fa-lg amber-text"></i>
                        </td>
                      </tr>
                      <tr>
                        <td class="font-weight-normal align-middle">Friday</td>
                        <td class="float-right font-weight-normal">
                          <p class="mb-1">26&deg;<span class="text-muted">/19&deg;</span></p>
                        </td>
                        <td class="float-right mr-3">
                          <i class="fas fa-sun fa-lg amber-text"></i>
                        </td>
                      </tr>
                      <tr>
                        <td class="font-weight-normal align-middle">Saturday</td>
                        <td class="float-right font-weight-normal">
                          <p class="mb-1">20&deg;<span class="text-muted">/16&deg;</span></p>
                        </td>
                        <td class="float-right mr-3">
                          <i class="fas fa-cloud fa-lg text-info"></i>
                        </td>
                      </tr>
                      <tr>
                        <td class="font-weight-normal align-middle">Sunday</td>
                        <td class="float-right font-weight-normal">
                          <p class="mb-1">22&deg;<span class="text-muted">/13&deg;</span></p>
                        </td>
                        <td class="float-right mr-3">
                          <i class="fas fa-cloud-sun fa-lg text-info"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
          
                </div>
          
                <hr class="">
          
                  <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 deep-purple-text collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>
          
              </div>
           -->
            </div>
          
          </div>
          <!-- Card -->
        </div> <!-- END Entity info  -->
        
        <!-- Entity log  -->
        <div class="col-7">
            <table id="log-table" class="table">
                <thead>
                  <tr>
                    <th scope="col">Date-Time</th>
                    <th scope="col">provider</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    
                  </tr>
                </tbody>
              </table>
        </div> <!-- END Entity log  -->
         
       </div>
     </div>
    </div> <!-- END Section 1  -->
    
    

     <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
 integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
 crossorigin=""></script>

    <!-- Scripts -->
    <%- include('../requireViews/scriptsView.ejs', {}) %>

   
  </body>
</html>
